.App-title {
  margin: 0;
  padding: 1rem;
  background: #282b2a;
  color: #eee;
  font-size: 20px;
  letter-spacing: -0.8px;
}

@media (max-width: 767px) {
  .App-title {
    text-align: center;
    &:after {
      content: "Mobile"
    }
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .App-title {
    text-align: center;
    &:after {
      content: "Tablet"
    }
  }
}
