.GhostButton {
  padding: 10px;
  background: transparent;
  border-radius: 25px;
  border-color: white;

  font-size: 1rem;
  color: white;

  outline: none;

  &:active {
    border-style: solid;
  }
  &:hover {
    background: rgba(255,255,255,.5);
  }
}
